In [ ]:
r=4
while 0<r<=4:
    c=1
    while c<=r:
        
        print("*",end=" ")
        c=c+1
    print()
    r=r-1

In [ ]:
for i in range(1,6):
    for j in range(1,i+1):
        print(j,end=" ")
    print()

In [ ]:
n=int(input("enter any no. "))
for i in range(2,n):
    if n%i==0:
        print("it is not a prime no.")
        break
else:
        print("it is a prime no.")

In [ ]:
n=int(input("enter any no. "))
for i in range(2,n):
    if n%i==0:
        if n%i!=0:
            
            print(i,end=" ")

In [ ]:
n=int(input("enter any no. "))
for i in range(2,n):
    if n%i==0:
        print("it is not a prime no.")
        break
else:
        print("it is a prime no.")

In [ ]:
a="hustle"
b=a[::-1]
b

In [ ]:
a=input("enter any text ")
b=["a","e","i","o","u"]
count=0
for i in a:
    if i in b:
        count=count+1
print(count)

In [ ]:
a=input("enter any text ")
b=a[::-1]
if b==a:
    print("palindrome")
else:
    print("not palindrome")

In [ ]:
a=input("enter any text ")
b=input("enter any text ")

if len(a)==len(b):
    for a in b:
        print("anagram")

In [ ]:
a="helo"
b=set(a)
if len(a)==len(b):
    print("all char are unique")
else:
    print("not unique")

In [ ]:
a=input("enter any word ")
b=len(a)
b

In [ ]:
a="mohit"
b="panwar"
print(f"{a} {b}")

In [ ]:
a=[1,2,3,4,5,2,4,5]
a.remove(2)
print(a)

In [ ]:
a=[1,2,3,4,5,2,4,5]
c=[b for b in a if b!=2]
print(c)

In [ ]:
a=[1,2,3,4,5,7,70,91,90]
b=sorted(a)
c=b[-2]
print(c)

In [ ]:
# Write a code to reverse a list in-place without using any built-in reverse functions
list=['mohit','panwar','hustle']
list[::-1]

In [ ]:
#Write a function that inputs a number and prints the multiplication table of that number
def multiplication_table(a):
    for i in range(1,11):
        multiplication=i*a
        print(i,"*",a,"=",multiplication)

In [ ]:
multiplication_table(7)

In [ ]:
def multiplication_table(a):
    for i in range(1, 11):  # Loop from 1 to 10
        multiplication = i * a
        print(i, "*", a, "=", multiplication)  # Print the result in the format "i * a = result"

In [ ]:
multiplication_table(3)

In [ ]:
def sum1(a,b):
    c=a+b
    print(c)

In [ ]:
sum1(5,4)

In [ ]:
def sum2(a,b):
    c=a+b
    return c

In [ ]:
sum2(5,4)

In [ ]:
#Write a code to reverse a list in-place without using any built-in reverse functions

In [ ]:
def reverse(my_list):
    left=0
    right=len(my_list)-1
    
    while left<right:
        my_list[left],my_list[right]=my_list[right],my_list[left]
        left+=1
        right-=1
    return my_list

In [ ]:
reverse([1,2,3,4,5])

In [ ]:
# Implement a code to find and remove duplicates from a list while preserving the original order of elements
def remove_duplicate(a):
    my_list=[]
    my_set=set()
    for i in a:
        if i not in my_set:
            my_list.append(i)
            my_set.add(i)
    return my_list

In [ ]:
(remove_duplicate([1,2,2,4,5,3]))

In [ ]:
#Create a code to check if a given list is sorted (either in ascending or descending order) or not
def sorted1(a):
    if a==sorted(a):
        print("the list is sorted in ascending order")
    elif a==sorted(a,reverse=True):
        print("the list is sorted in descending order")
    else:
        print("the list is not sorted")
    return a

In [ ]:
sorted1([1,3,4,6,2])

In [ ]:
# Write a code to merge two sorted lists into a single sorted list
def sort(a,b):
    a=sorted(a)
    b=sorted(b)
    c=a+b
    return c

In [ ]:
sort([1,3,2],[6,5,4])

In [ ]:
#Implement a code to find the intersection of two given lists
def list_intersection(m,n):
    list_1=[]
    for i in m:
        if i in n:
            list_1.append(i)
    return list_1

In [ ]:
list_intersection([1,2,3,4],[3,4,5,6])

In [ ]:
#Create a code to find the union of two lists without duplicates
def union(x,y):
    a=list(set(x)|set(y))
    return a

In [ ]:
union([1,2,3,4,5,6],[3,4,5,6,7,8,9])

In [ ]:
#Write a code that takes two tuples as input and returns a new tuple containing elements that are
#common to both input tuples
def tuple1(tuple_1,tuple_2):
    common_tuple=set(tuple_1) & set(tuple_2)
    return tuple(common_tuple)

In [ ]:
tuple1((1,2,3,4,5),(3,4,5,6,7))

In [ ]:
 #Create a code that prompts the user to enter two sets of integers separated by commas. Then, print the
#intersection of these two sets
def set1(set_1,set_2):
    intersection_set=(set_1) & (set_2)
    return intersection_set

In [ ]:
set1({1,2,3},{2,3,4})

In [ ]:
#Write a code to concatenate two tuples. The function should take two tuples as input and return a new
#tuple containing elements from both input tuples.
def tuple1(t1,t2):
    t3=t1+t2
    return tuple(t3)

In [ ]:
tuple1((1,2,3),(5,9,7))

In [ ]:
# Develop a code that prompts the user to input two sets of strings. Then, print the elements that are
#present in the first set but not in the second set&
def set_main(s1,s2):
    s3=s1-s2
    return set(s3)

In [ ]:
set_main({"mohit","hustle","panwar"},{"mohit","calisthenic"})

In [ ]:
#Create a code that takes a tuple and two integers as input. The function should return a new tuple
#containing elements from the original tuple within the specified range of indices&
def tuple_main(t1,i1,i3):
    t3=t1[i1:i3+1]
    return tuple(t3)

In [ ]:
tuple_main((1,2,3,4,5,6),1,4)

In [ ]:
#Write a code that prompts the user to input two sets of characters. Then, print the union of these two sets&
def union(u1,u2):
    u3=set(u1)|set(u2)
    return set(u3)

In [ ]:
union({"mohit","hustle","panwar"},{"mohit","calisthenic"})

In [ ]:
# Develop a code that takes a tuple of integers as input. The function should return the maximum and
#minimum values from the tuple using tuple unpacking
def tuple_main(t1):
    a,b=max(t1),min(t1)
    print(a,b)

In [ ]:
tuple_main((1,2,3,4,5))

In [ ]:
#Create a code that defines two sets of integers. Then, print the union, intersection, and difference of these
#two sets
def set_operations(set1, set2):
    # Union: All elements from both sets
    union_result = set1 | set2
    
    # Intersection: Common elements in both sets
    intersection_result = set1 & set2
    
    # Difference: Elements present in set1 but not in set2
    difference_result = set1 - set2
    
    # Printing the results
    print("Union of sets:", union_result)
    print("Intersection of sets:", intersection_result)
    print("Difference of sets (set1 - set2):", difference_result)

In [ ]:
set_operations({1,2,3,4,5},{2,4,5})

In [ ]:
#Write a code that takes a tuple and an element as input. The function should return the count of
#occurrences of the given element in the tuple
def count_occurrences():
    # Taking a space-separated string of numbers as input and converting to a tuple
    tup = tuple(map(int, input("Enter elements of the tuple (space-separated): ").split()))
    element = int(input("Enter the element to count: "))
    
    # Returning the count of the element in the tuple
    return tup.count(element)

In [ ]:
count_occurrences()

In [ ]:
#Develop a code that prompts the user to input two sets of strings. Then, print the symmetric difference of
#these two sets
def set_1():
    a=set(input("enter the elements").split())
    b=set(input("enter the elements").split())
    c=a^b
    return c

In [ ]:
set_1()

In [1]:
#Write a code that takes a list of words as input and returns a dictionary where the keys are unique words
#and the values are the frequencies of those words in the input list
def count_occurrences(input_list):
    # Create an empty dictionary to store the counts
    count_dict = {}

    # Iterate through each element in the list
    for element in input_list:
        # If the element is already in the dictionary, increment its count
        if element in count_dict:
            count_dict[element] += 1
        # Otherwise, add the element to the dictionary with count 1
        else:
            count_dict[element] = 1

    return count_dict

# Example usage

In [4]:
count_occurrences(["mohit","mohit","rohit"])

{'mohit': 2, 'rohit': 1}

In [7]:
#Write a code that takes two dictionaries as input and merges them into a single dictionary. If there are
#common keys, the values should be added together
def merge_dic(a,b):
    
    for key,value in b.items():
        if key in a:
            a[key]+=value
        else:
            a[key]=value
    return a

In [8]:
merge_dic({"a":2,"b":3,"c":4},{"b":4,"c":5,"d":6})

{'a': 2, 'b': 7, 'c': 9, 'd': 6}

In [9]:
#Write a code to access a value in a nested dictionary. The function should take the dictionary and a list of
#keys as input, and return the corresponding value. If any of the keys do not exist in the dictionary, the
#function should return None
def get_nested_value(dictionary, keys):
    value = dictionary
    for key in keys:
        if isinstance(value, dict) and key in value:
            value = value[key]
        else:
            return None
    return value

In [10]:
#Write a code that takes a dictionary as input and returns a sorted version of it based on the values. You
#can choose whether to sort in ascending or descending order
def invert_dict(d):
    inverted = {}
    for key, value in d.items():
        if value in inverted:
            inverted[value].append(key)
        else:
            inverted[value] = [key]
    return inverted

In [1]:
#Write a code that inverts a dictionary, swapping keys and values. Ensure that the inverted dictionary
#correctly handles cases where multiple keys have the same value by storing the keys as a list in the
#inverted dictionary.
def invert_dict(d):
    inverted = {}
    for key, value in d.items():
        if value in inverted:
            inverted[value].append(key)
        else:
            inverted[value] = [key]
    return inverted

In [8]:

def func(x,y=5):
    return x+y
 print(func(3))

IndentationError: unindent does not match any outer indentation level (<tokenize>, line 3)

In [6]:
func(3)

8

In [4]:
x=lambda x:x**2

In [6]:
x(99)

9801

In [8]:
from functools import reduce

In [19]:
#1. Write a Python function that takes a list of numbers as input and returns the sum of all even numbers in
#the list.
def list_main(a):
    sum_even=reduce(lambda x,y:x+y if  y%2==0 else x,a,0)
    return sum_even

In [21]:
def list_main1(b):
    return sum(filter(lambda x:x%2==0,b))

In [24]:
def list_main2(c):
    sum_1=0
    for i in c:
        if i%2==0:
            sum_1=sum_1+i
            
        
    return sum_1

In [27]:
# Implement a Python function that takes a list of integers and returns a new list containing the squares of
#each number.
def sq_list(a):
    b=[]
    for i in a:
        b.append(i**2)
    return b

In [29]:
def sq_list1(b):
    return list(map(lambda x:x**2,b))

In [47]:
# Write a Python function that checks if a given number is prime or not from 1 to 200
def prime_num(a): 
    if a <= 1:
        print("Not a prime number")
        return False
    for i in range(2, int(a**0.5) + 1):
        if a % i == 0:
            print("Not a prime number")
            return False
    print("It is a prime number")
    return True
    return a

In [70]:
def prime_num1(b):
    its_prime =lambda x:all(x%i!=0 for i in range(2,int(x**.5)+1)) and x>=1
    return its_prime(b)

In [79]:
n=int(input())
a=0
b=1
for i in range(n):
    print(a,end=" ")
    a,b=b,a+b

5
0 1 1 2 3

In [91]:
class FibonacciIterator:
    def __init__(self, num_terms):
        self.num_terms = num_terms
        self.a, self.b = 0, 1  # Starting values for Fibonacci

    def __iter__(self):
        return self  # The iterator object itself is returned

    def __next__(self):
        if self.num_terms <= 0:  # Stop when the number of terms is reached
            raise StopIteration
        else:
            # Return the current Fibonacci number and update for the next one
            self.num_terms -= 1
            self.a, self.b = self.b, self.a + self.b
            return self.a

In [92]:
a=FibonacciIterator(10)

In [85]:
a

In [86]:
next(a)

1

In [87]:
next(a)

1

In [88]:
next(a)

2